In [ ]:


# Importing necessary libraries
import pandas as pd

In [ ]:


# Loading dataset into DataFrame
sales_df = pd.read_csv("sales.csv")  # Ensure this file is in the working directory

In [ ]:
# Displaying summary or sample of the data
sales_df.head()

,invoice_id,date,day_of_week,product_name,units_sold,price_per_unit,amount
0,534377,2010-11-22,Monday,RED RETROSPOT TRADITIONAL TEAPOT,1,7.95,7.95
1,534377,2010-11-22,Monday,SET/5 RED RETROSPOT LID GLASS BOWLS,1,2.95,2.95
2,534377,2010-11-22,Monday,BROWN CHECK CAT DOORSTOP,1,4.25,4.25
3,534377,2010-11-22,Monday,TEA BAG PLATE RED RETROSPOT,2,0.85,1.70
4,534377,2010-11-22,Monday,CHILLI LIGHTS,1,4.95,4.95

In [ ]:


feature_types = sales_df.dtypes

In [ ]:
print(feature_types)

invoice_id          int64
date               object
day_of_week        object
product_name       object
units_sold          int64
price_per_unit    float64
amount            float64
dtype: object

In [ ]:


# Sorting the DataFrame
sorted_df = sales_df.sort_values('amount', ascending=False)

# Displaying summary or sample of the data
top_10 = sorted_df.head(10)

In [ ]:
top_10

,invoice_id,date,day_of_week,product_name,units_sold,price_per_unit,amount
438,534418,2010-12-02,Thursday,VINTAGE RED KITCHEN CABINET,1,295.00,295.00
418,534409,2010-11-30,Tuesday,3 TIER CAKE TIN GREEN AND CREAM,4,14.95,59.80
301,534399,2010-11-25,Thursday,"CAKE TIN, 3 TIER RED/IVORY",3,14.95,44.85
303,534399,2010-11-25,Thursday,"CAKE TIN, 3 TIER MINT/IVORY",3,14.95,44.85
17,534378,2010-11-22,Monday,SET/4 WHITE RETRO STORAGE CUBES,1,39.95,39.95
414,534409,2010-11-30,Tuesday,REGENCY CAKESTAND 3 TIER,3,12.75,38.25
360,534406,2010-11-29,Monday,CREAM SWEETHEART WALL CABINET,2,18.95,37.90
53,534382,2010-11-23,Tuesday,WOODEN ADVENT CALENDAR CREAM,2,16.95,33.90
508,534424,2010-11-23,Tuesday,3 TIER CAKE TIN RED AND CREAM,2,14.95,29.90
564,534443,2010-12-03,Friday,3 TIER CAKE TIN RED AND CREAM,1,29.79,29.79

In [ ]:
print(sales_df.columns)

Index(['invoice_id', 'date', 'day_of_week', 'product_name', 'units_sold',
       'price_per_unit', 'amount'],
      dtype='object')

In [ ]:


product_counts = sales_df['product_name'].value_counts()

In [ ]:
# Displaying summary or sample of the data
product_counts.head()

product_name
HAND WARMER BIRD DESIGN           8
HAND WARMER OWL DESIGN            8
HAND WARMER RED RETROSPOT         7
CHRISTMAS CRAFT LITTLE FRIENDS    7
HAND WARMER SCOTTY DOG DESIGN     6
Name: count, dtype: int64

In [ ]:


# Aggregating data
grouped_by_product_name = sales_df.groupby('product_name')
unit_counts = grouped_by_product_name['units_sold'].sum()

In [ ]:
# Sorting the DataFrame
unit_counts.sort_values(ascending=False).head()

product_name
HAND WARMER BIRD DESIGN      14
SMALL POPCORN HOLDER         13
HAND WARMER RED RETROSPOT    13
SCANDINAVIAN REDS RIBBONS    12
HAND WARMER OWL DESIGN       12
Name: units_sold, dtype: int64

In [ ]:


df_filtered = sales_df[
    (sales_df['product_name'] == 'HAND WARMER BIRD DESIGN') &
    (sales_df['units_sold'] > 1)
]

In [ ]:
# Displaying summary or sample of the data
df_filtered.head()

,invoice_id,date,day_of_week,product_name,units_sold,price_per_unit,amount
527,534429,2010-11-24,Wednesday,HAND WARMER BIRD DESIGN,3,2.1,6.3
534,534431,2010-11-24,Wednesday,HAND WARMER BIRD DESIGN,3,2.1,6.3
536,534432,2010-11-25,Thursday,HAND WARMER BIRD DESIGN,2,2.1,4.2
550,534438,2010-11-30,Tuesday,HAND WARMER BIRD DESIGN,2,2.1,4.2

In [ ]:
index = 534438

row = sales_df[(sales_df["invoice_id"]==index)]

row['product_name']

549            HAND WARMER OWL DESIGN
550           HAND WARMER BIRD DESIGN
551         HAND WARMER RED RETROSPOT
552     3 TIER CAKE TIN RED AND CREAM
553    CHRISTMAS CRAFT LITTLE FRIENDS
Name: product_name, dtype: object

In [ ]:


# Aggregating data
pivot_by_invoice = sales_df.pivot_table(
    index="invoice_id",
    values=["units_sold", "amount"],
    aggfunc="sum"
)

In [ ]:
# Displaying summary or sample of the data
pivot_by_invoice.head()

            amount  units_sold
invoice_id
534377       94.99          19
534378       39.95           1
534379       23.80           4
534380      113.35          13
534381      140.35          55

In [ ]:
# Aggregating data
pivot_by_invoice = sales_df.pivot_table(index="invoice_id", values=["units_sold", "amount"], aggfunc="sum")

In [ ]:
type(pivot_by_invoice)

pandas.core.frame.DataFrame

In [ ]:
# Displaying summary or sample of the data
pivot_by_invoice.info()

In [ ]:


pbi_sliced = None

In [ ]:
print("number of rows:", len(pbi_sliced))
print()

print(pbi_sliced.iloc[0])
print()
print(pbi_sliced.iloc[39])

In [ ]:


amount_sum = None
amount_mean = None
amount_max = None

corr_units_amount = None

In [ ]:
print("The sum of all sales is:", round(amount_sum, 2))
print("The mean amount per purchase is:", round(amount_mean, 2))
print("The highest purchase amount is:", round(amount_max, 2))
print("The correlation between the amount and number of units sold per invoice is",
      round(corr_units_amount.loc['amount']['units_sold'],4))